__pycache__/
env/
oriens/media/conferencearticles/*
oriens/media/conferences/*
oriens/media/content/*
oriens/media/editors/*
oriens/media/indexes/*
oriens/media/infoletters/*
oriens/media/journalarticles/*
oriens/media/journals/*
oriens/media/new_articles/*
oriens/media/posters/*
log/*

.env
!oriens/media/conferencearticles/.gitkeep
!oriens/media/conferences/.gitkeep
!oriens/media/content/.gitkeep
!oriens/media/editors/.gitkeep
!oriens/media/indexes/.gitkeep
!oriens/media/infoletters/.gitkeep
!oriens/media/journalarticles/.gitkeep
!oriens/media/journals/.gitkeep
!oriens/media/new_articles/.gitkeep
!oriens/media/posters/.gitkeep
!log/.gitkeep